.header-content {
    z-index: 52;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 51;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }

  .sidenav .closebtn {
    justify-content: space-between;
    display: flex;
    padding: 0 1rem;
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 36px;
  }
  .nav-menu {
    #nav {
      text-align: left;
      float: left;
      width: 100%;
    }
    #nav li a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
    }
    #nav li a:hover,
    #nav li a.active {
    }
    #nav li ul {
      display: none;
    }
    #nav li ul li a {
      padding: 10px 25px;
    }
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }